<!-- wp:template-part {"slug":"header","theme":"quinnie","area":"header"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1290"},"elementId":"guten-JYSVsb","margin":{"Desktop":{}},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}}}} -->
<div class="section-wrapper" data-id="JYSVsb"><section class="wp-block-gutenverse-section guten-element guten-section guten-JYSVsb layout-boxed align-stretch"><div class="guten-container guten-column-gap-default"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-sT98nU"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-sT98nU"><div class="guten-column-wrapper" data-id="sT98nU"><!-- wp:gutenverse/post-content {"elementId":"guten-tMiJhX","typography":{"type":"variable","id":"quinnie_typo_text","font":{"label":"Heebo","value":"Heebo","type":"google"},"weight":"400","size":{"Desktop":{"unit":"px","point":"16"},"Mobile":{"unit":"px","point":"14"}},"lineHeight":{"Desktop":{"unit":"em","point":"1.5"}},"spacing":[]},"color":{"type":"variable","id":"theme-5"}} -->
<div class="guten-element guten-post-content guten-tMiJhX"></div>
<!-- /wp:gutenverse/post-content --></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","theme":"quinnie","area":"footer"} /-->